@tailwind base;
* {
    scrollbar-width: thin;
    scrollbar-color: red;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(57, 56, 56, 0.575);
    border-radius: 14px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(79, 78, 78, 0.679);
    border-radius: 14px;
    width: 2px;
  }
@tailwind components;
@tailwind utilities;